*{
   
}
body{
    position: fixed;
    background-image: url(service.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}
h1{
    color:w;
  }
  .container{
      width: 450px;
      height: 700px;
      margin:auto;
      margin-top: 4%;
      padding-top: 1px;
      
  }
  /* form{
    position: relative;
    left: 150px;
  } */
  .login-page {
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
  }
  .form {
    padding-top: 30px;
    position: relative;
    z-index: 1;
    left: 750px;
    background: #FFFFFF;
    max-width: 349px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input  {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  form legend{
    position: absolute;
    left: 42px;
    top:15px
    
  }
  form .ps{
    position: absolute;
    left: 42px;
    top:95px
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #073253;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  